*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
}

ul,
ol,
li {
    list-style: none;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
}

button {
    font: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    font-style: normal;
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
}

p {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
}

.container {
    padding: 0 25px;
    max-width: 1220px;
    margin: 0 auto;
}

.header {
    margin-bottom: 20px;
}

.header__content {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.link {
    margin-left: 115px;
    margin-right: 95px;
}

.header__link {
    margin: 0 20px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.social__header {
    display: flex;
    align-items: center;
}

.instagram {
    margin-right: 15px;
}

.header__phone {
    margin-left: 50px;
    display: flex;
    align-items: center;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}

.phone {
    margin-right: 10px;
}

.swiper {
    min-width: 100%;
    min-height: 690px;
    text-align: center;
    position: inherit;
}

.swiper__img {
    width: 120em;
}

.swiper-scrollbar-drag {
    width: 261.8px;
    transition-duration: 0ms;
    transform: translate3d(-9.2px, 0px, 0px);
    background: rgb(248 249 246 / 50%);
}

.swiper-horizontal>.swiper-scrollbar {
    left: 0;
}

.swiper-pagination {
    margin-bottom: 75px;
}

.swiper-pagination.swiper-pagination-horizontal {
    position: absolute;
    bottom: -47px;
}

.slider__content {
    margin-top: -600px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider__title {
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    margin-bottom: 20px;
    margin-top: 120px;
}

.slider__text {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 50px;
    line-height: 150%;
    text-align: center;
}

.slider__button {
    font-weight: 700;
    font-size: 16px;
    padding: 22px 56px;
    background: #AE7B3C;
}

.slider__button:hover {
    background: #CC9654;
}

.slider__text {
    max-width: 640px;
}

.slider__line {
    margin-top: 100px;
    border: 1px solid #FFFFFF;
    opacity: 0.4;
    width: 1200px;
}

.line-3 {
    margin-top: 75px;
}

.derection__title {
    margin-top: 100px;
    text-align: center;
    font-size: 46px;
    margin-bottom: 50px;
}

.derection__content {
    display: flex;
    justify-content: center;
}

.derection__numbers {
    margin: 0 30px;
    display: flex;
}

.derection__line {
    height: 458px;
    opacity: 0.2;
    border-left: 1px solid #282B22;
    position: absolute;
    margin-left: -30px;
}

.line-1 {
    margin-left: -30px;
}

.line-4 {
    margin-left: 363px;
}

.derection__number {
    color: #282B22;
    opacity: 0.5;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 60px;
}

.derection__text {
    color: #3D4A39;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 30px;
}

.software {
    margin-top: 100px;
    background: #3D4A39;
}

.software__list {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.software__list-blok {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

.software__item {
    margin: 40px 0;
    text-align: center;
}

.software__title {
    padding-top: 60px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 46px;
    text-align: center;
}

.software__text {
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    opacity: o.5;
}

.tasks {
    margin-top: 140px;
    margin-bottom: 120px;
}

.tasks__title {
    max-width: 814px;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    margin: 0 auto;
}

.tasks__img-left,
.tasks__img-rigth {
    width: 160px;
    height: 200px;
    position: absolute;
}

.tasks__img-left {
    margin-top: -150px;
}

.tasks__img-rigth {
    margin-top: -335px;
    right: 0;
    margin-right: 120px;
}

.tasks__text-content {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.text-and-elipse {
    display: flex;
    align-items: flex-start;
    margin: 0 53px;
}

.img-elipse {
    margin-right: 15px;
}

.tasks-text {
    max-width: 320px;
}

.line-top {
    max-width: 926px;
    opacity: 0.2;
    border: 1px solid #282B22;
    margin: 0 auto;
    margin-top: 80px;
}

.line-middle {
    margin-top: -35px;
    height: 151px;
    opacity: 0.2;
    border-left: 1px solid #282B22;
    position: absolute;
}

.line-bottom {
    opacity: 0.2;
    border: 1px solid #282B22;
    max-width: 1200px;
    margin: 0 auto;
}

.benefits {
    margin-bottom: 140px;
}

.benefits__title {
    text-align: center;
    font-weight: 600;
    font-size: 46px;
    margin-bottom: 80px;
}

.benefits__text-title {
    margin-bottom: 10px;
}

.benefits__line-top {
    border: 1px solid #282B22;
    opacity: 0.2;
    margin-bottom: 50px;
}

.benefits__img {
    width: 320px;
    height: 240px;
    position: absolute;
    margin-left: 185px;
    margin-top: 264px;
    z-index: 1;
}

.benefits__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.benefits-number {
    font-weight: 600;
    font-size: 24px;
    color: #282B22;
    opacity: 0.3;
}

.benefits__content-text {
    font-size: 16px;
    margin-bottom: 100px;
}

.benefits__text-title {
    font-weight: 600;
    font-size: 32px;
}

.benefits__text {
    width: 450px;
    font-weight: 400;
}

.benefits__line-middle {
    margin-left: -50px;
    position: absolute;
    height: 124px;
    opacity: 0.2;
    border-left: 1px solid #282B22;
}

.benefits__line-bottom {
    position: absolute;
    width: 1200px;
    border: 1px solid #282B22;
    opacity: 0.2;
    margin-top: 124px;
}

.project {
    background: #3D4A39;
    height: 696px;
}

.project__container {
    display: flex;
}

.feedback__input {
    max-width: 300px;
    display: block;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #FFFFFF;
    background: #3D4A39;
    opacity: 0.5;
    color: #FFFFFF;
}

.project__left {
    width: 300px;
    color: #FFFFFF;
    margin-top: 100px;
    margin-left: 61px;
}

.project__title {
    font-weight: 600;
    font-size: 46px;
    margin-bottom: 20px;
}

.project__text {
    font-weight: 500;
    font-size: 16px;
    opacity: 0.8;
    line-height: 145%;
    margin-bottom: 15px;
}

.feedback__input {
    margin-top: 25px;
}

.project__img {
    width: 800px;
    height: 696px;
    position: absolute;
    right: 0;
}

.project__file {
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 40px;
}

.text__file {
    margin-left: 12px;
}

.project__button {
    font-size: 16px;
    padding: 13px 55px;
}

.gree__nok {
    border: 2px solid #FFFFFF;
    width: 15px;
    height: 15px;
    margin-top: 25px;
}

.gree__ok {
    display: none;
}

.gree__ok--active {
    position: absolute;
    border: 2px solid #FFFFFF;
    width: 5px;
    height: 5px;
    margin-left: 5px;
    margin-top: -10px;
}

.gree__text {
    position: relative;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    margin-left: 24px;
    margin-top: -14px;
}

.swiper-button-nawigation::after {
    display: none;
}

.swiper-pagination.swiper-pagination-horizontal {
    display: flex;
    justify-content: flex-end;
    max-width: 1200px;
    left: 50%;
    transform: translateX(-50%);
}

.swiper-pagination-bullet {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: inherit;
    color: antiquewhite;
    border: 1px solid #ffffff;
}

.nawigation__arrows {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    margin-top: 25px;
}

.swiper-button-prev {
    margin-right: 25px;
}

.swiper-button-nawigation {
    position: relative;
    left: 0;
}

.stages {
    margin-top: 140px;
    margin-bottom: 240px;
}

.stages__title {
    text-align: center;
    font-weight: 600;
    font-size: 46px;
}

.stages__content {
    display: flex;
    justify-content: center;
    margin-top: 160px;
}

.stages__content-container {
    max-width: 240px;
    margin: 0 40px;
}

.stages__number-border {
    position: absolute;
    width: 60px;
    height: 60px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    margin-top: -90px;
}

.stages__number {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin-left: 15px;
    margin-top: 15px;
}

.stages__content-title {
    font-weight: 600;
    font-size: 18px;
}

.stages__text {
    font-weight: 500;
    font-size: 16px;
    margin-top: 20px;
}